/* Title */

.title-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 94px;

  color: #333333;
}

.title-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 86px;

  color: white;
}

/* Text */

.text-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;

  color: #333333;
}

.text-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;

  color: #333333;
}

.text-3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #333333;
}

.text-4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;

  color: #ffffff;
}
